* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(27, 27, 27);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.calculator {
    min-width: 300px;
    max-height: 500px;
    padding: 5px;
    margin-top: 50px;
    border: 2px solid blue;
    border-radius: 10px;
}

h1 {
    color: aqua;
    margin: 5px;
}

.display input {
    background-color: darkcyan;
    text-align: right;
    color: black;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    height: 50px;
    margin: 10px 0;
    padding: 5px;
    border: 1px dashed black;
}

.buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
}

.equal {
    grid-row: 4 / span 2;
    grid-column: 4;
    padding-top: 50%;
}

.zero {
    grid-row: 5;
    grid-column: 1 / span 2;
}

.buttons div {
    cursor: pointer;
    background-color: azure;
    width: 65px;
    margin-bottom: 5px;
    text-align: center;
    padding: 15px;

}